<?xml version="1.0" encoding="UTF-8"?>
<preferences><adminEmail>admin@5xfitness.com</adminEmail><dateFormat>%d/%m/%Y %h:%i %p</dateFormat><fromName>5xFitness</fromName><fromEmail>qanewagesmb@gmail.com</fromEmail><smtpHost>smtp.gmail.com</smtpHost><smtpPort>465</smtpPort><smtpUser>qanewagesmb@gmail.com</smtpUser><smtpPass>Newagesm8</smtpPass></preferences>